body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center; /* Centra el contenido horizontalmente */
    align-items: center; /* Centra el contenido verticalmente */
    margin: 0;
    background-color: #16161a;
}
.center {
    text-align: center;
    max-width: 800px;
}

.button {
    background: linear-gradient(102deg, #4551b5 40%, #543fd7 60%);
    color: white;
    display: inline-block;
    padding: 1rem 2rem;
    border-radius: .25rem;
    min-width: 200px;
    text-decoration: none;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.5);
    animation: pulse 1.5s ease-in-out infinite;
}

@keyframes pulse {
    0% {
        transform: scale(0.99);
        box-shadow: 0 0 0 rgba(255, 255, 255, 0.1);
    }
    70% {
        transform: scale(1);
        box-shadow: 0 0 0 25px rgba(255, 255, 255, 0);
    }
    100% {
        transform: scale(0.99);
        box-shadow: 0 0 0 rgba(255, 255, 255, 0);
    }
}