*{
    margin: 0;
    padding: 0;
}
body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #d9d8d3;
}

.reloj{
    width: 400px;
    height: 150px;
    background: linear-gradient(#666, #000 10% 90%, #666);
    border-radius: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: aqua;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 3em;
    animation: cambiarSombra 2s ease-in-out infinite;
}
@keyframes cambiarSombra{
    0%{
        box-shadow: 0 0 8px 3px aqua;
    }
    50%{
        box-shadow: 0 0 8px 3px purple;
    }
    100%{
        box-shadow: 0 0 8px 3px aquamarine;
    }
}