body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 20px;
    background-color: #fff;
}

h1, h2{
    color: black;
}

ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li{
    background-color: burlywood;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

input[type="text"]{
    width: 70%;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid aliceblue;
}

button{
    background-color: #7777;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover{
    background-color: #444;
}

li, botton1, input[type="text"]{
    box-shadow: 0 5px 10px rgb(0, 0, 0, 0.5);
}

input[type="checkbox"] {
    appearance: none; 
    width: 20px; 
    height: 20px;
    background-color: #fff; 
    border: 1px solid #555; 
    border-radius: 5px; 
    cursor: pointer; 
}

input[type="checkbox"]:checked {
    background-color: #C63D2F;
    border: 1px solid white;
}