* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

form{
    padding: 50px 55px;
    box-shadow: 0 0 20px rgb(0, 0, 0, 0.2);
    border-radius: 20px;
    text-align: center;
    width: 340px;
}

.header{
    display: flex;
    flex-direction: column;
    text-align: left;
}

h1{
    color: black;
    font-size: 35px;
}

label{
    color: #283629;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 15px;
}

inpunt,textarea{
    padding: 17px 25px;
    border-radius: 25px;
    margin-bottom: 20px;
    background-color: #f0f0f0;
    border: 2px solid #f0faf1;
    color: #283629;
    outline: none;
}

input::placeholder, textarea::placeholder{
    color: #b5cab6;
}

.form.text{
    margin-bottom: 30PX;
    display: flex;
    justify-content: center;
    text-align: center;
}

.form.text a{
    color: #76b28e;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
}

.btn{
    font-size: 16px;
    color: #ffff;
    border: 0;
    border-radius: 25px;
    background-color: #51d94c;
    box-shadow: 0 0 20px rgb(25, 254, 0, 0.4);
    cursor: pointer; 
}

.btn:hover{
    background-color: #50e04b;
}

@media(max-width:991px){
    body{
        padding: 30px;
    }
    form{
        padding: 50px 30px;
        width: 100%;
    }
    inpunt{
        padding: 15px;
    }
}